<div id="navbar">
    <div class="container page-header sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'ex00:index' %}">Ex00 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Ex01
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="{% url 'ex01:django_description' %}">Django, Framework web.</a>
                      <a class="dropdown-item" href="{% url 'ex01:display_process_static_page' %}">Processus d'affichage d'une page statique.</a>
                      <a class="dropdown-item" href="{% url 'ex01:template_engine' %}">Moteur de template.</a>
                  </div>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'ex02:form_exercice' %}">Ex02 <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="{% url 'ex03:tab_exercice' %}">Ex03 <span class="sr-only">(current)</span></a>
                </li>
              </ul>
            </div>
          </nav>
    </div>
</div>