{% extends 'base.html' %}

{% block title %}Ex03 : Display tab.{% endblock %}

{% block content %}
    <div class="container h-100">
        <div class="h-100 d-flex align-items-center justify-content-center">
            <table class="table table-bordered table-hover table-dark table-striped" border="1px solid black">
                <thead class="justify-content-center">
                    <tr>
                        <th scope="col"></th>
                        <th scope="col">Title</th>
                        <th scope="col">Opening crawl</th>
                        <th scope="col">Director</th>
                        <th scope="col">Producer(s)</th>
                        <th scope="col">Release date</th>
                    </tr>
                </thead>
                <tbody class="justify-content-center">
                    {% for film in films %}
                    <tr>
                        <th scope="row">{{ film.episode_nb }}</td>
                        <td>{{ film.title }}</td>
                        <td>{{ film.opening_crawl }}</td>
                        <td>{{ film.director }}</td>
                        <td>{{ film.producer }}</td>
                        <td>{{ film.release_date }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}