{% extends 'ex01/base.html' %}

{% block title %}Ex01 : Django, Framework web.{% endblock %}
{% block content %}
    {% comment %} {{ STATIC_URL }} {% endcomment %}
    <div class="row d-flex justify-content-center mt-5">
        <div class="col-md-6">
            <p>Django (/ˈdʒæŋɡoʊ/ JANG-goh; stylised as django) is a Python-based free and open-source web framework, 
            which follows the model-template-view (MTV) architectural pattern. It is maintained by the Django 
            Software Foundation (DSF), an independent organization established as a 501 non-profit. </p>
            <p>Django's primary goal is to ease the creation of complex, database-driven websites. The framework emphasizes reusability and "pluggability" of components, less code, low coupling, rapid development, and the principle of don't repeat yourself. Python is used throughout, even for settings files and data models. Django also provides an optional administrative create, read, update and delete interface that is generated dynamically through introspection and configured via admin models.</p>
            <p>Some well-known sites that use Django include the Public Broadcasting Service, Instagram, Mozilla, The Washington Times, Disqus, Bitbucket, and Nextdoor.</p>
        </div>
    </div>
{% endblock %}